:root {
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(0, 0%, 63%);
  --grey-800: hsl(0, 0%, 27%);
  --black: hsl(0, 0%, 0%);

  --ff-League-Spartan: "League Spartan", sans-serif;
  --fs-base: 1rem;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
}
